@import url("https://fonts.googleapis.com/css?family=Quicksand:700");
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

@font-face {
	font-family: fredoka;
	src: url(./media/FredokaOne.ttf);
}


*,
*:before,
*:after {
	box-sizing: border-box;
	font-family: fredoka, cursive;
}

:root {
	--screen-height:
}

/*notification*/

.nSpan {
	display: block;
	position: relative;
	top: 105px;
	font-size: 53px;
	text-align: center;
  }
  
  .nsWin {
	position: absolute;
	left: 4px;
	width: 100%;
  }
  
  .nsWinBlock {
	margin-top: 10px;
	display: inline-block;
	font-size: 21px;
	padding-left: 40px;
	padding-right: 40px;
	justify-items: center;
  }
  
  .border_left {
	border-left: 1px solid;
  }
  
  .border_right {
	border-right: 1px solid;
  }
  
  #notification {
	position: absolute;
	width: 400px;
	height: 250px;
	background-color: #008cff98;
	z-index: 10;
	border: 8px solid rgba(0, 0, 0, 0.274);
	border-radius: 55px;
	transition: 1s;
	color: white;
	
  }

/*video*/
.video-bg {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.video-bg video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*blur*/
.bg {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 44, 44, 0.4);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	z-index: 0;
}

/*scrollbar*/
::-webkit-scrollbar {
	width: 6px;
	border-radius: 10px;
	display: none;
}

/*testo non selezionabile*/
* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


body {
	background: #2b323b;
	color: #fff8e6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	font-family: "Quicksand", sans-serif;
	margin: 0;
}

#app {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*Balance*/

.bContainer {
	display: flex;
	justify-content: center;
	width: 100%;
}

.balance {
	top: 0;
	position: absolute;
	color: white;
	font-family: 'Fredoka One', cursive;
	font-size: 1, 5vw;
	padding: 25px;
	background-color: rgba(46, 44, 44, 0.4);
	backdrop-filter: blur(20px);
	border-radius: 0px 0px 15px 15px;
}

.coin {
	font-weight: bolder;
	font-size: 2vw;
}

/*bet System*/
.container {
	width: 35vw;
	height: 50vh;
	margin: 0em auto;
	background-color: rgba(46, 44, 44, 0.4);
	backdrop-filter: blur(20px);
	border-radius: 25px;
	box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
	justify-content: center;
	position: absolute;
	right: 5vw;
	padding: 15px;
}

.betButtonsWrapper {
	width: 100%;
	height: 6vh;
}

.col-half {
	position: relative;
	padding: 10px;
	float: left;
	width: 50%;
	height: 100%;
	border-radius: 0px;
	border: 0px;
	background-color: rgba(161, 161, 161, 0.801);
	color: white;
	font-family: 'Fredoka One', cursive;
	font-size: 1.5vw;
}

.col-half:hover {
	background-color: rgb(129, 129, 129);
}

.s {
	border-radius: 0px 0px 0px 5px;
}

.line {
	border-left: 3px solid rgba(97, 97, 97, 0.2);
	border-radius: 0px 0px 5px 0px;
}

.info_label {
	color: white;
	font-family: 'Fredoka One', cursive;
	text-align: center;
	width: 100%;
	font-size: 1.5vw;
}

.bet_group {
	display: block;
	border-radius: 15px;
	padding: 1vw;
}

.bet-amount {
	height: 100%;
	border-radius: 5px 5px 0px 0px;
	border: 0px;
	padding: 7px;
	background-color: rgba(97, 97, 97, 0.2);
	color: white;
	text-align: center;
	outline: none;
	font-size: 1.5vw;
	font-family: 'Fredoka One', cursive;
}

.input_txt {
	position: relative;
	width: 100%;
	height: 6vh;
}

.next {
	right: 2vw;
	top: 2vh;
	width: 0.6vw;
	height: 0.6vw;
	border-top: 2px solid white;
	border-left: 2px solid white;
	transform: rotate(135deg);
	cursor: pointer;
	position: absolute;
}

.prev {
	left: 2vw;
	top: 2vh;
	width: 0.6vw;
	height: 0.6vw;
	border-top: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(225deg);
	cursor: pointer;
	position: absolute;

}

/*button*/

.buttons_container {
	margin-bottom: 5vh;
	min-width: 100%;
	justify-content: center;
}

.half {
	float: left;
	width: 45%;
	border-radius: 0px;
	border: 0px;
	color: white;
	font-family: 'Fredoka One', cursive;
	margin: 2.5% 2.5% 2.5% 2.5%;
	justify-content: center;
}

.bet {
	margin-top: 20px;
	margin-bottom: 10px;
	width: 90%;
	justify-content: center;
}

.buttons {
	font-family: 'Fredoka One', cursive;
	font-size: 1vw;
	color: white;
	text-transform: uppercase;
	padding: 0.6em 0em;
	background: linear-gradient(-90deg, #fc46f3 0%, #3fb6fb 100%);
	border: 0px solid #000000;
	border-radius: 0.75em;
	transform-style: preserve-3d;
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
		background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.buttons::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(-90deg, #792274 0%, #1e5a7e 100%);
	border-radius: inherit;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 0.625em 0 0 rgba(0, 0, 0, 0.2);
	transform: translate3d(0, 0.75em, -1em);
	transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.buttons:hover {
	background: linear-gradient(-90deg, #fc46d5 0%, #3f97fb 100%);
	transform: translate(0, 0.25em);
}

.buttons:hover::before {
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 0.5em 0 0 rgba(0, 0, 0, 0.2);
	transform: translate3d(0, 0.5em, -1em);
}

.buttons:active {
	background: linear-gradient(-90deg, #fc46d5 0%, #3f97fb 100%);
	transform: translate(0em, 0.75em);
}

.buttons:active::before {
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 0 rgba(0, 0, 0, 0.2);
	transform: translate3d(0, 0, -1em);
}


/*buttons disabled*/

.buttons:disabled {
	background: linear-gradient(-90deg, #665f66 0%, #a9b3b8 100%);
}

.buttons:disabled::before {
	background: linear-gradient(-90deg, #5c555c 0%, rgb(144, 152, 156) 100%);
}

.buttons:disabled:hover {
	background: linear-gradient(-90deg, #665f66 0%, #a9b3b8 100%);
	transform: translate(0, 0.25em);
}

.buttons:disabled:hover::before {
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 0.5em 0 0 rgba(0, 0, 0, 0.2);
	transform: translate3d(0, 0.5em, -1em);
}

.buttons:disabled:active {
	background: linear-gradient(-90deg, #665f66 0%, #a9b3b8 100%);
	transform: translate(0em, 0.75em);
}

.buttons:disabled:active::before {
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 0 rgba(0, 0, 0, 0.2);
	transform: translate3d(0, 0, -1em);
}


/*remove input spinner*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}

/*text*/

.text {
	font-family: 'Fredoka One', cursive;
	font-size: 50px;
	position: absolute;
	left: 255px;
	top: 260px;
	z-index: 1000;
	color: #363A57;
	font-weight: bold;
}


/*card*/

.card-container,
.card,
.front,
.back {
	height: 21vmin;
	width: 15vmin;
	z-index: 4;
}

.card-container {
	margin: 5vmin;
	top: -15.5vh;
	right: 25vw;
	position: absolute;
	perspective: 90vmin;
	perspective-origin: bottom;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.card-container:hover, .card-container.flipped:hover {
	z-index: 999;
}

.card-container:hover .card {
	box-shadow: 1vmin -5vmin 4vmin rgba(0, 0, 0, 0.15), 0.5vmin -4vmin 3vmin rgba(0, 0, 0, 0.1);
	transform: rotateX(0deg) rotateZ(0deg) translateZ(10vmin) rotateY(0deg) rotateX(-15deg);
}

.card-container.flipped:hover .card {
	box-shadow: 1vmin -5vmin 4vmin rgba(0, 0, 0, 0.15), 0.5vmin -4vmin 3vmin rgba(0, 0, 0, 0.1);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(180deg) translateZ(-10vmin) rotateX(15deg);
}

.card-container.flipped .card {
	box-shadow: 1vmin -1vmin 2vmin rgba(0, 0, 0, 0.19), 1vmin -1vmin 0.5vmin rgba(0, 0, 0, 0.23);
	transform: rotateX(0deg) rotateZ(0deg) rotateY(180deg);
}

.card-container .card {
	background: #fff8e6;
	border-radius: 1vmin;
	box-shadow: -1vmin -1vmin 2vmin rgba(0, 0, 0, 0.19), -1vmin -1vmin 0.5vmin rgba(0, 0, 0, 0.23);
	cursor: pointer;
	position: relative;
	transition: transform 0.35s ease-out, box-shadow 0.35s ease-out;
	transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
	transform-style: preserve-3d;
	user-select: none;
}

.card-container .card .front,
.card-container .card .back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.card-container .card .front {
	z-index: 2;
	transform: rotateY(0deg);
}

.card-container .card .back {
	transform: rotateY(180deg);
}

.cd1.slidein {
	transform: translate(-36vw, 28vh);
	transition: 1s;
}

.cd2.slidein {
	transform: translate(-31vw, 33vh);
	transition: 1s;
}

.cp1.slidein {
	transform: translate(-36vw, 70vh);
	transition: 1s;
}

.cp2.slidein {
	transform: translate(-31vw, 75vh);
	transition: 1s;
}

svg {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
	stroke: #fff8e6;
	stroke-width: 6;
	stroke-linecap: round;
	stroke-linejoin: round;
}

svg symbol {
	overflow: visible;
}

svg text {
	font-size: 3rem;
	text-anchor: middle;
	alignment-baseline: central;
	stroke-width: 2;
	fill: currentColor;
}

svg text.underline {
	text-decoration: underline;
}

svg .suit {
	stroke-width: 4;
}

svg #card-back {
	fill: #a34729;
}

svg #card-back circle {
	fill: #fff8e6;
}

svg.black {
	color: #363430;
	stroke: #363430;
}

svg.red {
	color: #a34729;
	stroke: #a34729;
}

.bg_text {
	left: 21vw;
	top: 49vh;
	position: absolute;
	z-index: 3;
	color: rgba(255, 255, 255, 0.445);
	font-family: 'Fredoka One', cursive;
}

h1 {
	font-size: 3vmin;
	font-weight: bolder;
}

h2 {
	font-size: 2vmin;
}

.score {
	left: 28.5vw;
	padding: 7px 15px 7px 15px;
	border-radius: 7px;
	position: absolute;
	z-index: 3;
	font-size: 1.4vw;
	color: white;
	background-color: rgba(46, 44, 44, 0.4);
	backdrop-filter: blur(20px);
	font-family: 'Fredoka One', cursive;
}

.dscore {
	top: 15vh;
	display: none;
}

.pscore {
	bottom: 6vh;
	display: none;
}