/*video*/
.video-bg {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*blur*/
.bg {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 44, 44, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 0;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(1 2 3 / 40%);
    border-radius: 10px;
}
/*testo non selezionabile*/
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/*Balance*/
.balance {
    top: 0;
    position: absolute;
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 1,5vw;
    padding: 25px;
    background-color: rgba(46, 44, 44, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 15px 15px;
}

.coin {
    font-weight: bolder;
    font-size: 2vw;
}

/*bet System*/
.container {
  min-width: 350px;
  padding: 25px;
  margin: 0em auto;
  background-color: rgba(46, 44, 44, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 25px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.col-half {
    padding-right: 10px;
    float: left;
    width: 50%;
    border-radius: 0px;
    border: 0px;
    background-color: rgba(161, 161, 161, 0.801);
    color: white;
    font-family: 'Fredoka One', cursive;
    padding: 5px 0px 5px 0px;
    font-size: 1.5vw;
}

.col-half:hover {
    background-color: rgb(129, 129, 129);
}

.s {
    border-radius: 0px 0px 0px 5px;
}

.line {
    border-left: 3px solid rgba(97, 97, 97, 0.2);
    border-radius: 0px 0px 5px 0px;
}

.info_label {
    color: white;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    width: 100%;
    font-size: 1.5vw;
}

.bet_group {
    display: block;
    border-radius: 15px;
}

.bet-amount {
    margin-top: 15px;
    border-radius: 5px 5px 0px 0px;
    border: 0px;
    padding: 7px;
    background-color: rgba(97, 97, 97, 0.2);
    color: white;
    text-align: center;
    outline: none;
    font-size: 1.5vw;
    font-family: 'Fredoka One', cursive;
}

.next {
    right: 50;
    top: 36%;
    width: 9px;
    height: 9px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transform: rotate(135deg);
    cursor: pointer;
    position: absolute;
}

.prev {
    left: 50;
    top: 36%;
    width: 9px;
    height: 9px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform:  rotate(225deg);
    cursor: pointer;
    position: absolute;
}

/*remove input spinner*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*text*/

.text {
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    position: absolute;
    left: 255px;
    top: 260px;
    z-index: 1000;
    color: #363A57;
    font-weight: bold;
}

/*button*/
.center {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.wrapper {
	height: 50px;
	width: 165px;
	-webkit-tap-highlight-color: transparent;
	display: flex;
	justify-content: center;
	align-items: flex-end;
    padding: 15px 15px 0px 15px;
}

.spin-button {
	height: 100%;
	width: 90%;
	cursor: pointer;
	background-color: #08e1ae;
	background: linear-gradient(315deg, #26eca0 0%, #fd2df3 155%);
	border: none;
	border-radius: 50px 50px 30px 30px;
	transition: 1s;
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.spin-button:active {
	border: none;
	outline: none;
}

.spin-button a {
	font-family: 'Fredoka One', cursive;
	font-size: 30px;
	text-decoration: none;
	color: rgba(23, 37, 18, 0.596);
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.spin-button:hover {
	border-radius: 100px 100px 20px 20px;
	height: 45px;
	width: 135px;
}

.spin-button:hover .scale {
	letter-spacing: 5px;
	font-size: 25px;
	transition: 1s;
}

.rotate-1, .rotate-2, .rotate-3, .rotate-4 {
	transition: 1s;
}

.spin-button:hover .rotate-1 {
	transform: rotate(15deg);
}

.spin-button:hover .rotate-2 {
	transform: rotate(-15deg);
}

.spin-button:hover .rotate-3 {
	transform: rotate(10deg);
}

.spin-button:hover .rotate-4 {
	transform: rotate(-25deg);
}

.spin-button:active {
	filter: hue-rotate(90deg);
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 44, 44, 0.4);
    backdrop-filter: blur(20px);
    margin: 0;
}

/* Sets the background image for the wheel */
td.the_wheel
{
    background-image: url(./wheel_back.png);
    background-position: center;
    background-repeat: none;
}

/* Do some css reset on selected elements */
h1, p
{
    margin: 0;
}
ì

div.html5_logo
{
    margin-left:70px;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
    margin-bottom: 5px;
}