@font-face {
  font-family: fredoka;
  src: url(FredokaOne.ttf);
}

/*video*/
.video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*blur*/
.bg {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 44, 44, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(46, 44, 44, 0.4);
  backdrop-filter: blur(20px);
  margin: 0;
}

/*slot machine*/

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doors {
  display: flex;
}

.door {
  background: #fafafa;
  width: 100px;
  height: 110px;
  overflow: hidden;
  border-radius: 5px;
  margin: 5px;
  
}

.boxes {
  /* transform: translateY(0); */
  transition: transform 1s ease-in-out;
  z-index: 10;
  background-color: rgba(27, 27, 27, 0.4);
  
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.buttons {
  margin: 1rem 0 2rem 0;
  z-index: 10;
}

.btn {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 0.2rem;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.info {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}


/*bet*/

/*testo non selezionabile*/
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/*Balance*/
.balance {
  top: 0;
  position: absolute;
  color: white;
  font-family: fredoka, cursive;
  font-size: 1,5vw;
  padding: 25px;
  background-color: rgba(46, 44, 44, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 0px 0px 15px 15px;
}

.coin {
  font-weight: bolder;
  font-size: 2vw;
}

/*bet System*/
.container {
min-width: 350px;
padding: 25px;
margin: 0em auto;
background-color: rgba(46, 44, 44, 0.4);
backdrop-filter: blur(20px);
border-radius: 25px;
box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
justify-content: center;
}

.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
  border-radius: 0px;
  border: 0px;
  background-color: rgba(161, 161, 161, 0.801);
  color: white;
  font-family: fredoka, cursive;
  padding: 5px 0px 5px 0px;
  font-size: 1.5vw;
  margin: 0px;
}

.col-half:hover {
  background-color: rgb(129, 129, 129);
}

.s {
  border-radius: 0px 0px 0px 5px;
}

.line {
  border-left: 3px solid rgba(97, 97, 97, 0.2);
  border-radius: 0px 0px 5px 0px;
}

.info_label {
  color: white;
  font-family: fredoka, cursive;
  text-align: center;
  width: 100%;
  font-size: 1.5vw;
}

.bet_group {
  display: block;
  border-radius: 15px;
}

.bet-amount {
  margin-top: 15px;
  border-radius: 5px 5px 0px 0px;
  border: 0px;
  padding: 7px;
  background-color: rgba(97, 97, 97, 0.2);
  color: white;
  text-align: center;
  outline: none;
  font-size: 1.5vw;
  font-family: fredoka, cursive;
}

.next {
  right: 50;
  top: 36%;
  width: 9px;
  height: 9px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transform: rotate(135deg);
  cursor: pointer;
  position: absolute;
}

.prev {
  left: 50;
  top: 36%;
  width: 9px;
  height: 9px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform:  rotate(225deg);
  cursor: pointer;
  position: absolute;
}

/*remove input spinner*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*text*/

.text {
  font-family: fredoka, cursive;
  font-size: 50px;
  position: absolute;
  left: 255px;
  top: 260px;
  z-index: 1000;
  color: #363A57;
  font-weight: bold;
}

/*button*/
.center {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.wrapper {
height: 50px;
width: 165px;
-webkit-tap-highlight-color: transparent;
display: flex;
justify-content: center;
align-items: flex-end;
  padding: 15px 15px 0px 15px;
}

.spin-button {
height: 100%;
width: 90%;
cursor: pointer;
background-color: #08e1ae;
background: linear-gradient(315deg, #26eca0 0%, #fd2df3 155%);
border: none;
border-radius: 50px 50px 30px 30px;
transition: 1s;
box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.spin-button:active {
border: none;
outline: none;
}

.spin-button a {
font-family: fredoka, cursive;
font-size: 30px;
text-decoration: none;
color: rgba(23, 37, 18, 0.596);
display: flex;
justify-content: center;
align-items: flex-end;
}

.spin-button:hover {
border-radius: 100px 100px 20px 20px;
height: 45px;
width: 135px;
}

.spin-button:hover .scale {
letter-spacing: 5px;
font-size: 25px;
transition: 1s;
}

.rotate-1, .rotate-2, .rotate-3, .rotate-4 {
transition: 1s;
}

.spin-button:hover .rotate-1 {
transform: rotate(15deg);
}

.spin-button:hover .rotate-2 {
transform: rotate(-15deg);
}

.spin-button:hover .rotate-3 {
transform: rotate(10deg);
}

.spin-button:hover .rotate-4 {
transform: rotate(-25deg);
}

.spin-button:active {
filter: hue-rotate(90deg);
}